@page
@model ExploreModel
@{
    ViewData["Title"] = "Explorer file system";
}

<div class="text-center">
    <h1 class="display-4">@Model.CurrentConfiguration.Name</h1>
    @(Html
        .Grid(Model.Items)
        .Build(columns =>
        {
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.Created).Titled("Created");
            columns.Add(model => model.ItemType).Titled("Item Type");

            columns.Add(model => model.LastTimeUpdated).Titled("Last time Updated");
            columns.Add(model => model.Path).Titled("Path");
            columns.Add(model => model.Source.Name).Titled("Source name");
        })
        .Using(GridFilterMode.Header)
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable())
</div>