@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Choose one file system to start</h1>
    <div class="container">
        <div class="row">
            @foreach (var config in Model.ConfiguredFileSystem)
            {

                <div class="col-sm">
                    <a href="/Explore?Id=@config.Id">@config.Name</a>
                </div>
            }
        </div>
    </div>
</div>
